.git
.github
.next
.turbo
.vercel
coverage
dist
node_modules
npm-debug.log*
playwright-report
test-results
xconfess-backend/.env
xconfess-backend/dist
xconfess-backend/coverage
xconfess-contracts/target
xconfess-frontend/.env.local
xconfess-frontend/.env.production
xconfess-frontend/.next
xconfess-frontend/coverage
xconfess-frontend/playwright-report
xconfess-frontend/test-results
